# Dependency directories
node_modules/
node_modules

# ML Training Data
data.csv
team_match_dataset.jsonl

# Raw Data
2014_LoL_esports_match_data_from_OraclesElixir.csv
2015_LoL_esports_match_data_from_OraclesElixir.csv
2016_LoL_esports_match_data_from_OraclesElixir.csv
2017_LoL_esports_match_data_from_OraclesElixir.csv
2018_LoL_esports_match_data_from_OraclesElixir.csv
2019_LoL_esports_match_data_from_OraclesElixir.csv
2020_LoL_esports_match_data_from_OraclesElixir.csv
2021_LoL_esports_match_data_from_OraclesElixir.csv
2022_LoL_esports_match_data_from_OraclesElixir.csv
2023_LoL_esports_match_data_from_OraclesElixir.csv
2024_LoL_esports_match_data_from_OraclesElixir.csv
2025_LoL_esports_match_data_from_OraclesElixir.csv

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Nova editor
.nova

# @cre-ative/kram intermediate files
kram_modules/

# MacOS
.DS_Store

# Yalc
/.yalc
.yalc
yalc.lock

node_modules/
*.env
dist/
