.title,
.navbar,
.bottom_bar {
    /* width: 100%; */
    height: var(--size-type-xxxlarge);
    align-items: center;
    display: flex;
    padding-left: var(--size-spacing-large);
    padding-right: var(--size-spacing-large);
}

.navbar {
    background: var(--color-background-box);
    /* margin-top: var(--size-type-xxxlarge); */
}

.title {
    background: var(--color-background-dark);
}

.title img {
    max-height: 50px;
    /* Ensure the image stays within the navbar height */
    max-width: 100%;
    /* Make sure the image doesn't overflow */
    height: auto;
    /* Maintain aspect ratio */
}

.navbar,
.nav {
    display: flex;
    /* Ensure the Nav is a flex container */
    gap: var(--size-spacing-large);
    /* Space between links */
}

.bottom_bar {
    height: var(--size-type-xxxxxlarge);
    /* background-color: var(--color-background); */
    position: fixed;
    bottom: 0;
    left: 0;
}

.search {
    display: flex;
    gap: var(--size-spacing-medium);
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
}

.search>.buttons {
    justify-content: space-between;
}

.buttons {
    background-color: transparent !important;
    border: none !important;
    color: inherit;
    transition: border 0.3s ease-in-out;
}

.buttons:hover {
    border: var(--color-text);
}