table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
    padding: var(--size-spacing-medium);
    background-color: var(--color-background-box);
    border: var(--color-text) var(--size-spacing-small) solid;
}

thead th {
    border-bottom: 2px solid var(--color-text);
}

/* tfoot th {
    border-top: 2px solid #dedede;
} */

/* td {
    border-bottom: 1px solid #dedede;
} */

th,
td {
    text-align: left;
    padding: 0.5rem;
}