:root {
    --color-background: #1B1B1B;
    --color-box-dark: #3C4C53;

    --color-text: #B7B7C9;
    --color-text-highlight: #c89b3c;

    --color-blue-side: #4171D6;
    --color-red-side: #D31A45;
}