.content {
    display: flex;
    flex-direction: column;
    padding-left: var(--size-spacing-xlarge);
    padding-right: var(--size-spacing-xlarge);
}

.tabs {
    display: flex;
    gap: var(--size-spacing-medium);
    margin-bottom: var(--size-spacing-medium);
}

button {
    padding: 8px 16px;
    border: none;
    background: var(--color-background-dark);
    cursor: pointer;
}

button.active {
    background: var(--color-background-box);
}

.tab-content {
    padding: var(--size-spacing-medium);
    /* border: 1px solid var(--color-text); */
}